{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <hr>
        <div class = "row mx-2">
        {% for listing in active_listings %}
            <div  class="card mx-2" style="width: 18rem;">
              <img src="{{ listing.image }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">{{ listing.description }}</p>
                <p class="card-text">{{ listing.current_price }}</p>
                <a href="{% url 'listing_detail' listing.pk %}" class="btn btn-primary">more details</a>
              </div>
            </div>
        {% endfor %}
        </div>
{% endblock %}
