{% extends "auctions/layout.html" %}
{% load widget_tweaks %}
{% block body %}

        <h3>{{ object.title }}</h3>
             <form action="{% url 'togglewatchlist' object.id %}" method = "POST">
            {% csrf_token %}
            {% if is_watchlisted %}
                <input type="submit" class="btn btn-warning" name="change-state" value="remove">
            {% else %}
                <input type="submit" class="btn btn-dark" name="change-state" value="add">
            {% endif %}
        </form>

        <div  class="card mb-3">
            <img style="max-width: 600px;max-height: 600px;" src="{{ object.image }}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">{{ object.description }}</p>
                <hr>
                <h5 class="card-title">starting bid = {{ object.starting_bid }}</h5>
                <hr>
                <h5 class="card-title">current price = {{ object.current_price }}</h5>
                <hr>

            </div>
        </div>


        {% if win_message %}
           <div class="alert alert-success" role="alert">
              {{ win_message }}
            </div>
        {% else %}

            <form method="POST">
                 {% csrf_token %}

                {% if form.bid_value %}
                    <div class="row g-3 align-items-center">
                      <div class="col-auto">
                        <label for="{{form.bid_value.id_for_label }}" class="col-form-label"><h4>bid_value</h4></label>
                      </div>
                      <div class="col-auto">
                        {{ form.bid_value|add_class:"form-control" }}
                      </div>
                      <div class="col-auto">
                        <span id="{{form.bid_value.id_for_label }}" class="form-text">
                            <div class="alert alert-warning" role="alert">
                                    Must be higher than the curren price and starting bid
                            </div>

                        </span>
                      </div>
                    </div>

                {% endif %}

                <p>{{ bids_count }} bids so far highest bed is {{ object.current_price }} </p>
                {% if bid_error_message %}
                    <div class="alert alert-danger" role="alert">{{ bid_error_message }}</div>
                {% endif %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
<hr>
        {% endif %}








            <div class="row d-flex justify-content-left">
              <div class="col-md-8 col-lg-6">
                <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                  <div class="card-body p-4">

                    {% for c in comments %}
                    <div class="card mb-4">
                      <div class="card-body">
                        <h6>{{ c.comment }}</h6>

                        <div class="d-flex justify-content-between">
                          <div class="d-flex flex-row align-items-center">
                            <p class="small mb-0 ms-2"> {{ c.commenter }} commented in {{ c.comment_date }}</p>
                          </div>
                          <div class="d-flex flex-row align-items-center">
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}


                  </div>
                </div>
              </div>
            </div>
        <hr>


        <form method = "post">
            {% csrf_token %}

            <section style="background-color: #ced4da;">
              <div class="container my-5 py-5 text-dark">
                <div class="row d-flex justify-content-left">
                  <div class="col-md-10 col-lg-8 col-xl-6">
                    <div class="card">
                      <div class="card-body p-4">
                        <div class="d-flex flex-start w-100">
                          <div class="w-100">
                              {{ comment_form.listing.as_hidden }}
                            <h5>Add a comment</h5>

                            <div class="form-outline">
                                {% render_field comment_form.comment class="form-control" rows="4" %}
                              <label class="form-label" for="textAreaExample">What is your view?</label>
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                              <input type="submit" class ="btn btn-primary" name="submit-comment">

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>


        </form>



{% endblock %}